@using EventsProject.Models
@model LoginViewModel
@{
    ViewBag.Title = "Zaloguj";
}

<style>
    body {
        background-color: #0B001A;
        color: #fff;
    }


    .form-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
        border: 5px solid #5CE1E6;
        border-radius: 20px;
        padding: 30px;
        max-width: 700px;
        min-width: 400px;
        min-height: 400px;
        max-height: 700px;
    }

    .baze {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    p{
        text-align:center
    }

    hr{
        border: none;
    }
    footer{
        display: none;
    }

    .margin{
        margin: 5px;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        margin-top: 20px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        font-size: 15px;
        z-index: 0;
        border-radius: 10px;
    }

      .glow-on-hover a{
          color: #fff;

          display: block;
      }

        .glow-on-hover a {
            color: #fff;
            display: block;
           
        }

        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }

        .glow-on-hover:active {
            color: #000
        }

            .glow-on-hover:active:after {
                background: transparent;
            }

        .glow-on-hover:hover:before {
            opacity: 1;
        }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #ED3A85;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

    @@keyframes glowing {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }

    
</style>

<div>
    <div class="baze">
        <section>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="margin">
                    @Html.LabelFor(m => m.Email)
                    <div>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="margin">
                    @Html.LabelFor(m => m.Password)
                    <div>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="margin">
                    <div>
                        <div>
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>

                <button class="glow-on-hover" type="submit" value="LOGIN">LOGIN</button>
                <button class="glow-on-hover" type="button">@Html.ActionLink("REGISTER", "Register")</button>
        
        @* Włącz ten element po włączeniu potwierdzenia konta dla funkcji resetowania hasła
            <p>
                @Html.ActionLink("Nie pamiętasz hasła?", "ForgotPassword")
            </p>*@
    }
            </section>
        </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}