@model EventsProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    body {
        background-color: #0B001A;
        color: white;
    }

    .form-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
        border: 5px solid #5CE1E6;
        border-radius: 20px;
        padding: 30px;
        max-width: 700px;
        min-width: 400px;
        min-height: 400px;
        max-height: 700px;
    }


    .margin {
        margin-bottom: 20px;
    }

    footer {
        display: none;
    }

    hr {
        display: none;
    }

    .baze {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }


    .glow-on-hover {
        width: 220px;
        height: 50px;
        margin-top: 20px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        font-size: 15px;
        z-index: 0;
        border-radius: 10px;
    }

        .glow-on-hover a {
            color: #fff;
            display: block;
        }

        .glow-on-hover a {
            color: #fff;
            display: block;
        }

        .glow-on-hover:before {
            content: '';
            background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing 20s linear infinite;
            opacity: 0;
            transition: opacity .3s ease-in-out;
            border-radius: 10px;
        }

        .glow-on-hover:active {
            color: #000
        }

            .glow-on-hover:active:after {
                background: transparent;
            }

        .glow-on-hover:hover:before {
            opacity: 1;
        }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #ED3A85;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

    @@keyframes glowing {
        0% {
            background-position: 0 0;
        }

        50% {
            background-position: 400% 0;
        }

        100% {
            background-position: 0 0;
        }
    }
</style>

<div class="baze">

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="margin">
            @Html.LabelFor(m => m.Email)
            <div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="margin">
            @Html.LabelFor(m => m.Password)
            <div>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="margin">
            @Html.LabelFor(m => m.ConfirmPassword)
            <div>
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="margin">
            @Html.LabelFor(m => m.PhoneNumber)
            <div>
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>
        <div class="margin">
            @Html.LabelFor(m => m.UserName)
            <div>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            </div>
        </div>

        <button class="glow-on-hover" type="submit" value="REGISTER">REGISTER</button>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}