@model EventsProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<style>
    body {
        background-color: #0B001A;
        color: white;
    }

    .form-horizontal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 150px;
        border: 2px solid #5CE1E6;
        border-radius: 20px;
        padding: 30px;
        max-width: 700px;
        min-width: 400px;
        min-height: 400px;
        max-height: 700px;
    }


    .margin {
        margin-bottom: 20px;
    }

    footer{
        display:none;
    }
    hr{
        display:none;
    }
    .baze {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
</style>

<div>
    <div class="baze">

        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="margin">
                @Html.LabelFor(m => m.Email)
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="margin">
                @Html.LabelFor(m => m.Password)
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="margin">
                @Html.LabelFor(m => m.ConfirmPassword)
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            
            <button class="glow-on-hover" type="submit" value="REGISTER">REGISTER</button>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
