@model EventsProject.Models.Classes.Event

<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: Poppins, sans-serif;
            text-align: center;
            color: white;
        }

        h1 {
            font-size: 60px;
            margin: 30px 0 40px 0; 
        }

        .event-info {
            display: flex;
            justify-content: center;
            align-content: center;
            flex-direction: column;
            margin: auto;
            width: 80%;
            text-align: center;
            font-size: 25px;
        }
        .value{
            color: white;

        }

        .event-date {
            font-size: 50px;
            color: #5CE1E6;
            font-weight: bold;
        }
        .event-place {
            font-size: 70px;
            color: #ED3A85;
            font-weight: bold;
        }
        .event-seats{
            font-size: 40px;

        }

        .ticket-button {
            appearance: none;
            background-color: transparent;
            border: 2px solid #5CE1E6;
            border-radius: 15px;
            box-sizing: border-box;
            color: #5CE1E6;
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0 auto;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 20%;
            will-change: transform;
        }

            .ticket-button:disabled {
                pointer-events: none;
            }

            .ticket-button:hover {
                color: #fff;
                background-color: rgb(92, 225, 230);
                box-shadow: rgb(92, 225, 230,0.75)0 8px 15px;
                transform: translateY(-2px);
            }

            .ticket-button:active {
                box-shadow: none;
                transform: translateY(0);
            }

        .ticket-button-reduced {
            appearance: none;
            background-color: transparent;
            border: 2px solid rgb(9, 237, 0);
            border-radius: 15px;
            box-sizing: border-box;
            color: rgb(9, 237, 0);
            cursor: pointer;
            display: inline-block;
            font-size: 16px;
            font-weight: 600;
            line-height: normal;
            margin: 0 auto;
            min-height: 60px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 20%;
            will-change: transform;
        }

            .ticket-button-reduced:disabled {
                pointer-events: none;
            }

            .ticket-button-reduced:hover {
                color: #fff;
                background-color: rgb(9, 237, 0);
                box-shadow: rgb(9, 237, 0, 0.75)0 8px 15px;
                transform: translateY(-2px);
            }

            .ticket-button-reduced:active {
                box-shadow: none;
                transform: translateY(0);
            }
        
       
        @@keyframes glowing {
            0% {
                background-position: 0 0;
            }

            50% {
                background-position: 400% 0;
            }

            100% {
                background-position: 0 0;
            }
        }

        .reviews {
            margin: auto;
            width: 80%;
            text-align: left;
            font-size: 18px;
            margin-top: 60px;
        }

        .review-item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid lightgray;
        }

        .review-item:last-child {
                border-bottom: none;
            }

        .review-name {
            font-weight: bold;
        }

        .review-rating {
            color: orange;
        }

        .review-description {
            margin-top: 5px;
        }
    </style>
</head>
<body>
    <div class="event-info">
        <img style="margin: 0 auto; border-radius: 15px; width: 70%; box-shadow: rgb(92, 225, 230,0.75) 0 15px; " src="@Model.ImgSrc.ToString()" alt="@Model.EventName" />
        <h1>@Model.EventName</h1>
        <div>
            <p class="event-place">@Model.EventPlace</p>
            <p class="event-date">@Model.EventDate.ToString("dd.MM.yyyy")</p>
            <p class="event-date">@Model.EventStartTime</p>
        </div>
        <p style="margin: 30px 0;">@Model.EventDescription</p>
        <p class="event-seats"><span style="font-weight: bold; color: #5CE1E6; text-decoration: underline;">@Model.EventAvailableSeats</span> seats are waiting for <span style="color: #5CE1E6; font-weight: bold;">YOU!</span></p>
        <p style="font-size: 50px; font-weight: bold; color: #ED3A85">BUY TICKETS NOW!</p>

    </div>

    <div class="buttons">
        <button class="ticket-button ticket-button-reduced" role="button">REDUCED TICKET <br /> @Model.EventPriceReduced zł</button>
        <button class="ticket-button" role="button">NORMAL TICKET <br /> @Model.EventPriceNormal zł</button>
    </div>

    <div class="reviews">
        <h2>Event Reviews</h2>
        <div class="review-item">
            <div class="review-name">John Doe</div>
            <div class="review-rating">Rating: 8/10</div>
            <div class="review-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ultrices gravida dapibus.</div>
        </div>
        <div class="review-item">
            <div class="review-name">Jane Smith</div>
            <div class="review-rating">Rating: 9/10</div>
            <div class="review-description">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</div>
        </div>
        <div class="review-item">
            <div class="review-name">David Johnson</div>
            <div class="review-rating">Rating: 7/10</div>
            <div class="review-description">Fusce fringilla erat eu dolor mattis, sed aliquet leo lacinia.</div>
        </div>
    </div>
</body>
</html>
