@{
    ViewBag.Title = "Contact";
}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: Poppins, sans-serif;
        color: white;
    }

    h1 {
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .event {
        position: relative;
        width: 300px;
        height: auto;
        background-color: #f2f2f2;
        border: 1px solid #0B001A;
        margin-right: 25px;
        margin-bottom: 25px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }

        .event img {
            width: 100%;
            height: 200px;
            display: block;
            margin: 0;
            transition: filter 0.3s ease;
        }

        .event:hover img {
            filter: brightness(60%);
        }

        .event .caption {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            font-weight: bold;
            font-size: 20px;
            color: #5CE1E6;
            text-transform: uppercase;
            cursor: pointer;
        }

        .event:hover .caption {
            display: block;
            color: #5CE1E6;
        }

        .event .description {
            padding-top: 5px;
            color: #777;
            background-color: #ED3A85;
        }

        .event div {
            color: white;
        }
        .description{
            color: white;
            font-weight: 900;
            text-transform: uppercase;
        }

    .question-title {
        font-size: 30px;
        color: white;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
    }
    .center{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .button-28 {
        appearance: none;
        background-color: transparent;
        border: 2px solid #5CE1E6;
        border-radius: 15px;
        box-sizing: border-box;
        color: #5CE1E6;
        cursor: pointer;
        display: inline-block;
        font-size: 16px;
        font-weight: 600;
        line-height: normal;
        margin: 0 auto;
        min-height: 60px;
        min-width: 0;
        outline: none;
        padding: 16px 24px;
        text-align: center;
        text-decoration: none;
        transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 20%;
        will-change: transform;
    }

    .button-28:disabled {
        pointer-events: none;
    }

        .button-28:hover {
            color: #fff;
            background-color: rgb(92, 225, 230);
            box-shadow: rgb(92, 225, 230,0.75)0 8px 15px;
            transform: translateY(-2px);
        }

    .button-28:active {
        box-shadow: none;
        transform: translateY(0);
    }
        
    
</style>
<body>
    <h1 style="font-size: 40px; text-transform: uppercase; color: white; font-weight: 900;">events</h1>

    <section class="wrap">
        <div class="event">
            <img src="https://images.pexels.com/photos/2747449/pexels-photo-2747449.jpeg?cs=srgb&dl=pexels-wolfgang-2747449.jpg&fm=jpg" alt="Wydarzenie 1">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div  >KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://cdn.pixabay.com/photo/2017/12/08/11/53/event-party-3005668__340.jpg" alt="Wydarzenie 2">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://images.shiksha.com/mediadata/images/articles/1583747992phpzaxKKK.jpeg" alt="Wydarzenie 3">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://jandevents.com/wp-content/uploads/jand-party.jpg" alt="Wydarzenie 4">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://i.pinimg.com/736x/1d/6b/b0/1d6bb07de56417b386a75bb6591f615e.jpg" alt="Wydarzenie 5">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://i.pinimg.com/750x/76/7e/ae/767eaeec66c44b3eae020c5fbea51c71.jpg" alt="Wydarzenie 6">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQswxGU-j5ya1AXFRAP4fgJzLQhIvKcpgGaba5qOMIh6sGRx4WFKSGQcAZ77fZOfqG6FyU&usqp=CAU" alt="Wydarzenie 7">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>

        <div class="event">
            <img src="https://images.unsplash.com/photo-1492684223066-81342ee5ff30?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZXZlbnR8ZW58MHx8MHx8&w=1000&q=80" alt="Wydarzenie 8">
            <div class="description">
                <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                <div style="color: #0B001A "> 01.01.2023 WARSZAWA</div>
                <div>KONCERT MALIKA MONTANY</div>
            </div>
        </div>
    </section>
    <section class="center">
        <div>
            <div style="text-decoration-line: underline; text-decoration-color: white; text-decoration-thickness: 1px; text-underline-offset: 6px;" class="question-title">Want to <span style="color: #ED3A85;">add</span> your <span style="color: #ED3A85;">event</span> ?</div>
            <div class="question-title">Create it with us!</div>
        </div>

        <button  onclick="location.href='@Url.Action("CreateEvent", "Home")'" style="margin-top: 20px;" class="button-28" role="button">CREATE EVENT</button>
    </section>
</body>