@{
    ViewBag.Title = "Eventify | Beauty of the events world";
}
@Styles.Render("~/Content/css")
@Styles.Render("~/Content/Site.css")
<link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700;900&display=swap" rel="stylesheet">

<style>
    body {
        font-family: Poppins, sans-serif;
        background-color: #0B001A;
    }

    main {
        height: 100%;
        /* background-color: red; */
    }
     section {
        display: flex;
        justify-content: center;
        align-content: center;

    }

    .landing-page-container {
        margin: 40px 0 0 0px;
        top: 0;
    }
    .top-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        max-width: 400px;
        color: white;
    }

    .profile-picture {
        width: 40vw;
        max-width: 500px;
    }
    .title {
        font-weight: 400;
        font-size: 4vw;
        line-height: 100%;
    }
    .title-underline {
        text-decoration-line: underline;
        text-decoration-color: white;
        text-decoration-thickness: 1px;
        text-underline-offset: 6px;
    }

    .subText {
        margin-top: 10px;
        font-size: 1vw;
        width: 30vw;
    }

    .glow-on-hover {
        width: 220px;
        height: 50px;
        margin-top: 20px;
        border: none;
        outline: none;
        color: #fff;
        background: #111;
        cursor: pointer;
        position: relative;
        font-size: 15px;
        z-index: 0;
        border-radius: 10px;
    }

    .glow-on-hover:before {
        content: '';
        background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }

    .glow-on-hover:active {
        color: #000
    }

    .glow-on-hover:active:after {
        background: transparent;
    }

    .glow-on-hover:hover:before {
        opacity: 1;
    }

        .glow-on-hover:after {
            z-index: -1;
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: #ED3A85;
            left: 0;
            top: 0;
            border-radius: 10px;
        }

    @@keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    .event {
        position: relative;
        width: 300px;
        height: auto;
        background-color: #f2f2f2;
        border: 1px solid #0B001A;
        margin-right: 25px;
        margin-bottom: 25px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        padding: 0px;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
    }

        .event img {
            width: 100%;
            height: 200px;
            display: block;
            margin: 0;
            transition: filter 0.3s ease;
        }

        .event:hover img {
            filter: brightness(60%);
        }

        .event .caption {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: none;
            font-weight: bold;
            font-size: 20px;
            color: #5CE1E6;
            text-transform: uppercase;
            cursor: pointer;
        }

        .event:hover .caption {
            display: block;
            color: #5CE1E6;
        }

        .event .description {
            padding-top: 5px;
            color: #777;
            background-color: #ED3A85;
        }

        .event div {
            color: white;
        }

        .description {
            color: white;
            font-weight: 900;
            text-transform: uppercase;
        }
        .upcoming-events{
            display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        }

    .wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }

</style>
<body>
    <main>
        <section>
            <div class="top-section">
                <div class="landing-page-container">
                    <div class="subText"></div>
                    <div class="title title-underline">Discover the<img src="~/Image/star_icon.png" style="width: 4vw; display: inline; margin-left: 10px;" /></div>
                    <div class="title title-underline"><span style="color: #ED3A85;">beauty of the</span></div>
                    <div class="title">events <span style="color: #ED3A85; font-style: italic;">world</span></div>
                    <div class="subText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a lacus vel nulla tempor feugiat.
                        Duis sodales dignissim risus vel lacinia. Nunc pretium tincidunt accumsan
                    </div>
                    <button class="glow-on-hover" type="button">Let's explore!</button>
                </div>
                <div style="margin:0 20px"></div>
                <div>
                    <img class="profile-picture" src="~/Image/landing-page-image.png">
                </div>

            </div>

        </section>
       <div style="font-size: 40px; text-align: center; text-transform: uppercase; color: white; font-weight: 900; margin-top: 40px;">UP COMING EVENTS</div>
        <section class="wrap">
                <div class="event">
                    <img src="https://i.pinimg.com/736x/1d/6b/b0/1d6bb07de56417b386a75bb6591f615e.jpg" alt="Wydarzenie 5" >
                    <div class="description">
                        <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                        <div>1.01.2023</div>
                        <div>Warszawa</div>
                    </div>
                </div>

                <div class="event">
                    <img src="https://i.pinimg.com/750x/76/7e/ae/767eaeec66c44b3eae020c5fbea51c71.jpg" alt="Wydarzenie 6">
                    <div class="description">
                        <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                        <div>5.07.2023</div>
                        <div>Kraków</div>
                    </div>
                </div>

                <div class="event">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQswxGU-j5ya1AXFRAP4fgJzLQhIvKcpgGaba5qOMIh6sGRx4WFKSGQcAZ77fZOfqG6FyU&usqp=CAU" alt="Wydarzenie 7">
                    <div class="description">
                        <div class="caption" onclick="location.href='@Url.Action("Event_Informations", "Home")'">find out more</div>
                        <div>10.03.2023</div>
                        <div>Gdańsk</div>
                    </div>
                </div>
         
        </section>


    </main>
  
</body>